body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
}

.header {
  height: 4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: 'Shrikhand', cursive;
  margin: 0;
}

.localisation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 3em;
  background: #dddddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation__city {
  margin-left: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking {
  height: 18.125em;
  width: 100%;
  background: #fafafa;
}

.booking__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.booking__title {
  text-align: center;
  margin: 0;
  max-width: 250px;
}

.booking__text {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.booking__button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  padding: 0 20px;
  margin-top: 10px;
  color: white;
  border-radius: 100px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.booking__button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.process {
  margin: 0;
  padding: 25px 0px 70px 0px;
  width: 100%;
  height: auto;
  background: white;
}

.process__container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .process__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .process__container {
    width: 95%;
  }
}

.process__title {
  margin: 0;
  padding-bottom: 15px;
}

.process__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px 0 20px;
  position: relative;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .process__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .process__bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

@media screen and (min-width: 1330px) {
  .process__bloc {
    width: 70%;
  }
}

.process__line {
  background: #f6f6f6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  height: auto;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.process__line:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: #ffdff6;
}

@media screen and (min-width: 768px) {
  .process__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.process__number {
  margin: 0px 10px;
  position: absolute;
  left: -10px;
  color: white;
  background: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .process__number {
    left: -20px;
  }
}

@media screen and (min-width: 1025px) {
  .process__number {
    position: relative;
    margin: 0;
  }
}

.process__icon {
  color: #7E7E7E;
  padding: 0 20px;
}

.restaurants {
  margin: auto;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__title {
  margin: 40px 0 30px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 1025px) {
  .restaurants__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 40px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.restaurant__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .restaurant__cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: 100%;
  }
}

.restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .restaurant__card {
    margin: 10px 40px 40px 20px;
  }
}

.restaurant__card:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px #ff79da;
          box-shadow: 0px 0px 10px 0px #ff79da;
}

.restaurant__card-image img {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__card-nouveau {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99e2d0;
  color: #1b6150;
  height: 30px;
  top: 20px;
  right: 20px;
  padding: 0 10px;
}

.restaurant__bloc {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}

.restaurant__bloc-info {
  color: black;
  margin-left: 20px;
}

.restaurant__bloc-name {
  font-weight: 700;
}

.restaurant__bloc-icon {
  font-size: 30px;
  margin: 20px;
  position: relative;
  color: black;
}

.heart_empty:hover {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.heart_full {
  position: absolute;
  font-size: 33px;
  opacity: 0;
  left: -1.5px;
  bottom: 3px;
}

.heart_full:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*# sourceMappingURL=index.css.map */