$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

h3, p {
    margin: 10px 0 10px 0;
}

.header {
    height: 4em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    &__logo {
        font-family: 'Shrikhand', sans-serif;
        font-size: 34px;
        align-self: center;
        justify-self: center;
        & a {
            color: black;
        }
    }

    &__icon {
        align-self: center;
        margin-left: 20px;
    }
        
    &__icon-back {
        font-size: 1.5em;
        color: black;
    }
}

.restaurant__img {
    width: 100%;
    height: 18.75em;
    object-fit: cover;
}

.menu {
    width: 95%;
    max-width: 1230px;
    position: relative;
    margin: auto;
    height: auto;
    padding: 10px;
    background: #f6f6f6;
    top: -60px;
    bottom: 0;
    border-radius: 40px 40px 0 0;

    @media screen and (min-width: 768px) {
        width: 75%;
    }

    @media screen and (min-width: 1330px) {
        margin: auto;
        width: 50%;
    }
       
    
    

    &__header {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;

        &-title {
            font-family: 'Shrikhand', sans-serif;
            
        }

        &-heart {
            font-size: 30px;
            margin-right: 20px;
            position: relative;
        }
    }
}

.heart_empty {
    &:hover {
        opacity: 0;
        transition: 0.4s;
    }
}

.heart_full {
    position: absolute;
    font-size: 33px;
    opacity: 0;
    left: -1.5px;
    bottom: 3px;

    &:hover {
        background: $gradient;
        opacity: 1;
        transition: 0.4s;
        z-index: 2;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.menu__bloc {
    width: 100%;
    margin-bottom: 40px;

    @media screen and (min-width: 1330px) {
        margin-right: 20px;
    }
    
    &-title {
        font-weight: 400;
        font-size: 1.5em;
        border-bottom: 4px solid #99E2D0;
        width: 60px;
    }

    &__line {
        // width: 95%;
        height: 70px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        overflow: hidden;
        

        &:hover {

            .check {
              width: 20%;
              margin-right: 0px;
              transition: 0.3s;
              

              &__button {
                  transform: rotate(360deg);
                  transition: 0.6s;
                 
              }
            }
            
        }

        &-titletext {
            width: 80%;
            margin-left: 10px;
            margin-right: 10px;
            text-align: left;
            overflow: hidden;
            cursor: pointer;


            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-price {
            align-self: flex-end;
            margin: 0 40px 10px -10px;

            @media screen and (min-width: 1330px) {
                margin-right: 40px;
            }
            
        }
    }
}

.check {
    height: 70px;
    background: #99E2D0;
    border-radius: 0 20px 20px 0;
    @include flexbox-center();
    margin-right: -75px;
    
  

    &__button {
        font-size: 40px;
        color: white;
        
    }
}